@inherits AvailableFlightsGridComponentBase

@using FlightScanner.Client.BlazorWA.Models
@using Microsoft.AspNetCore.Components.QuickGrid

@if (FlightOfferVMs != null)
{
    <div>
        <p>
            <input type="search" @bind="DepartureAirportIataCodeFilter" @bind:event="oninput" />
        </p>

        <QuickGrid Items="FlightOfferVMs" Pagination="PaginationModel">
            <PropertyColumn Title="Departure airport"
                            Property="@(f => f.DepartureAirportLocation)"
                            Sortable="false" />
            <PropertyColumn Title="Departure date"
                            Format="dd-MM-yyyy"
                            Property="@(f => f.DepartureDate)"
                            Sortable="true" />

            <PropertyColumn Title="Arrival airport"
                            Property="@(f => f.ArrivalAirportLocation)"
                            Sortable="false" />
            <PropertyColumn Title="Arrival date"
                            Format="dd-MM-yyyy"
                            Property="@(f => f.ReturnDate)"
                            Sortable="true" />

            <PropertyColumn Title="Number of passengers"
                            Property="@(f => f.NumberOfBookableSeats)"
                            Sortable="true" />
            <PropertyColumn Title="Number of stops"
                            Property="@(f => f.NumberOfStops)"
                            Sortable="true" />

            <PropertyColumn Property="@(f => f.Price)"
                            Title="@CurrencyTitle"
                            Sortable="true" />
        </QuickGrid>

        <Paginator State="PaginationModel" />

    </div>
}
