@inherits AvailableFlightsGridComponentBase

@using FlightScanner.Client.BlazorWA.Models
@using Microsoft.AspNetCore.Components.QuickGrid

@if (FoundFlightsApplicationState.IsSearchingOfFlightsInProgress)
{
    <div class="spinner-border d-flex justify-content-center m-3"
         style="width: 3rem; height: 3rem;"
         role="status">
    </div>
    <div>
        <label style="font-size: 25px;">Searching for flights...</label>
    </div>
}
else if (FlightOfferVMs != null)
{
    <div>
        <p>
            <input type="search" @bind="DepartureAirportIataCodeFilter" @bind:event="oninput" />
        </p>

        <QuickGrid Items="FlightOfferVMs" Pagination="PaginationModel">
            <PropertyColumn Title="Departure airport"
                            Property="@(f => f.DepartureAirportIataCode)"
                            Sortable="false" />
            <PropertyColumn Title="Departure date"
                            Format="dd-MM-yyyy"
                            Property="@(f => f.DepartureDate)"
                            Sortable="false" />

            <PropertyColumn Title="Arrival airport"
                            Property="@(f => f.ArrivalAirportIataCode)"
                            Sortable="false" />
            <PropertyColumn Title="Arrival date"
                            Format="dd-MM-yyyy"
                            Property="@(f => f.ReturnDate)"
                            Sortable="false" />

            <PropertyColumn Title="Number of passengers"
                            Property="@(f => f.NumberOfBookableSeats)"
                            Sortable="true" />
            <PropertyColumn Title="Number of stops"
                            Property="@(f => f.NumberOfStops)"
                            Sortable="true" />

            <PropertyColumn Property="@(f => f.Price)"
                            Title="@CurrencyTitle"
                            Sortable="true" />
        </QuickGrid>

        <Paginator State="PaginationModel" />

    </div>
}
