@inherits FlightSearchComponentBase

<EditForm Enhance="true"
          Model="FlightSearchVM"
          OnValidSubmit="SubmitValidForm">
    <div>
        <div class="currency-selector-group">
            <label>
                Currency
            </label>
            <InputSelect @bind-Value="FlightSearchVM.SelectedCurrency"
                         class="form-control"
                         style="width: fit-content;">
                @foreach (var currency in Currencies)
                {
                    <option value="@currency">@currency</option>
                }
            </InputSelect>
            <ValidationMessage For="@(() => FlightSearchVM.SelectedCurrency)" />
        </div>

        <div>
            <div class="row">
                <div class="col">
                    <label>
                        Departure date
                    </label>
                    <InputDate @bind-Value="FlightSearchVM.DepartureDate"
                               style="width: fit-content;"
                               class="form-control"
                               min="@MinimumDepartureDate"
                               max="@MaximumDepartureDate" />
                    <ValidationMessage For="@(() => FlightSearchVM.DepartureDate)" />
                </div>

                <div class="col">
                    <label>
                        Departure airport
                    </label>
                    <div class="dropdown form-control"
                         style="padding: 0; height: fit-content;">
                        <button type="button"
                                class="btn dropdown-toggle d-flex align-items-center"
                                title="@SelectedDepartureAirportName"
                                @onclick="ToggleDepartureAirportDropdown">
                            <span class="text-truncate">
                                @SelectedDepartureAirportName
                            </span>
                        </button>
                        @if (AllAvailableAirports != null && IsDepartureAirportDropdownOpen)
                        {
                            <div class="dropdown-menu show"
                                 style="max-height: 250px; overflow-y: auto;">
                                <input type="text"
                                       class="form-control mb-2"
                                       placeholder="Search..."
                                       @bind="DepartureAirportSearch"
                                       @bind:event="oninput" />
                                <Virtualize ItemsProvider="LoadDepartureAirportsToVirtualizationControl"
                                            Context="airport">
                                    <a href="#"
                                       class="dropdown-item text-truncate"
                                       title="@airport.Location"
                                       @onclick="() => SelectDepartureAirport(airport)">
                                        @airport.Location
                                    </a>
                                </Virtualize>
                            </div>
                        }
                    </div>
                    <ValidationMessage For="@(() => FlightSearchVM.DepartureAirportIataCode)" />
                </div>

                <div class="col align-content-center">
                    <Icon Name="IconName.ArrowLeftRight" />
                </div>

                <div class="col">
                    <label>
                        Destination airport
                    </label>
                    <div class="dropdown form-control"
                         style="padding: 0; height: fit-content;">
                        <button type="button"
                                class="btn dropdown-toggle d-flex align-items-center"
                                title="@SelectedDestinationAirportName"
                                @onclick="ToggleDestinationAirportDropdown">
                            <span class="text-truncate">
                                @SelectedDestinationAirportName
                            </span>
                        </button>
                        @if (AllAvailableAirports != null && IsDestinationAirportDropdownOpen)
                        {
                            <div class="dropdown-menu show"
                                 style="max-height: 250px; overflow-y: auto;">
                                <input type="text"
                                    class="form-control mb-2"
                                    placeholder="Search..."
                                    @bind="DestinationAirportSearch"
                                    @bind:event="oninput" />
                                <Virtualize ItemsProvider="LoadDestinationAirportsToVirtualizationControl"
                                            Context="airport">
                                    <a href="#"
                                       class="dropdown-item text-truncate"
                                       title="@airport.Location"
                                       @onclick="() => SelectDestinationAirport(airport)">
                                        @airport.Location
                                    </a>
                                </Virtualize>
                            </div>
                        }
                        <ValidationMessage For="@(() => FlightSearchVM.DestionationAirportIataCode)" />
                    </div>
                </div>

                <div class="col">
                    <label>
                        Return date
                    </label>
                    <InputDate @bind-Value="FlightSearchVM.ReturnDate"
                               style="width: fit-content;"
                               class="form-control"
                               min="@MinimumReturnDate"
                               max="@MaximumReturnDate" />
                    <ValidationMessage For="@(() => FlightSearchVM.ReturnDate)" />
                </div>

                <div class="col">
                    <label>
                        Number of passengers
                    </label>
                    <InputNumber @bind-Value="FlightSearchVM.NumberOfPassengers"
                                 class="form-control"
                                 style="width: fit-content;" />

                    <ValidationMessage For="@(() => FlightSearchVM.NumberOfPassengers)" />
                </div>

                <div class="col align-content-end">
                    <button type="submit"
                            style="width:200px;"
                            class="btn btn-primary">
                        <div>
                            <Icon Name="IconName.Search" />
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <FluentValidationValidator />
</EditForm>

<Toasts Messages="@ToastNotificationService.ToastMessages"
        Delay="10000"
        Placement="ToastsPlacement.BottomRight"
        Style="color: black" />
